<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><%= link_to 'Home', pagina_index_path =%></li>
<li><%= link_to 'Usuario', usuarios_path =%></li>
<li><%= link_to 'Treinador', treinadors_path =%></li>
 <li><%= link_to 'Treino', treinos_path =%></li>
<li><%= link_to 'Modalidade', modalidades_path =%></li>

</ul>

</form>
<ul class="nav navbar-nav navbar-right">

<ul class="dropdown-menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li role="separator" class="divider"></li>
<li><a href="#">Separated link</a></li>
</ul>
</li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>